.control {
    height: 200px;
    max-height: 200px;
    max-width: 350px;
    width: 350px;
}
.control-wide {
  height: 200px;
  max-height: 200px;
  max-width: 700px;
  width: 700px;
}
.custom-black {
    background-color: #343a40;
}
.custom-yellow {
    color: #ffc000;
    font-size: 20px;
}
textarea {
  max-height: 100px;
  overflow-x: auto;
  overflow-y: scroll;
  resize: none;
}
::ng-deep .ng5-slider .ng5-slider-bubble.ng5-slider-limit,
::ng-deep .ng5-slider-span.ng5-slider-bubble.ng5-slider-limit.ng5-slider-floor,
::ng-deep .ng5-slider .ng5-slider-bubble {
    color: #ffc000 !important;
}

::ng-deep .highcharts-axis.highcharts-color-X .highcharts-axis-line {
  stroke: #8EBA6A33;
  stroke-width: 0.5px;
}

::ng-deep .highcharts-axis.highcharts-color-Y .highcharts-axis-line {
  stroke: #8EBA6A;
  stroke-width: 0px;
}

@media only screen and (max-width: 702px) {
  .control-wide {
    max-width: 350px;
    width: 350px;
  }
}
