.row
  .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 100%;")
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 60px;")
        div maximum buy amount
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 60px;")
        div maximum number of simultaneous trades
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 60px;")
        div profit threshold
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 60px;")
        div max money spent per trade
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 60px;")
        div market change sensitivity
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 60px;")
        div time between buys
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 60px;")
        div currency buys distribution

//- TODO:
//- * Need to fetch current price of given currency
//- * Need to fetch current amount in usd
//- * Need to fetch current number of pending buy
//- * Need to fetch current number of pending sells
//- * Need to fetch current market direction
//- * Need to add api calls to set the controls labeled in this component
//- * Need to add kill switch
//- * Need to add start switch

//- * Need to fetch trading bot logs as stream
//- * Setup api for the above
//- * Adjust trading bot to handle the other currencies
