.row
  .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 100%;")
    .row.control-height.px-2
      .col-12.col-sm-12.col-md-4.col-lg-4(*ngFor="let maxBuyPriceControl of maxBuyPrices")
        label.text-center([for]="maxBuyPriceControl.id", value="{{maxBuyPriceControl.label}}")
        ng5-slider([id]="maxBuyPriceControl.id", [(value)]="maxBuyPriceControl.value", [options]="maxBuyPriceControl.options")
    .row.control-height
      .col-12.col-sm-12.col-md-12.col-lg-12
        div maximum number of simultaneous trades
    .row.control-height
      .col-12.col-sm-12.col-md-12.col-lg-12
        div profit threshold
    .row.control-height
      .col-12.col-sm-12.col-md-12.col-lg-12
        div max money spent per trade
    .row.control-height
      .col-12.col-sm-12.col-md-12.col-lg-12
        div market change sensitivity
    .row.control-height
      .col-12.col-sm-12.col-md-12.col-lg-12
        div time between buys
    .row.control-height
      .col-12.col-sm-12.col-md-12.col-lg-12
        div currency buys distribution

//- TODO:
//- * Need to fetch current price of given currency
//- * Need to fetch current amount in usd
//- * Need to fetch current number of pending buy
//- * Need to fetch current number of pending sells
//- * Need to fetch current market direction
//- * Need to add api calls to set the controls labeled in this component
//- * Need to add kill switch
//- * Need to add start switch

//- * Need to fetch trading bot logs as stream
//- * Setup api for the above
//- * Adjust trading bot to handle the other currencies
