.row
  .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 100%;")
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 60px;")
        div controls
      .col-12.col-sm-12.col-md-12.col-lg-12(style="height: 200px;")
        div more controls
