$padding5px: 5px;

.label-date {
  background-color: #2d2d31;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem 0 0 0.25rem;
  border-right-width: 0;
  color: #fff;
  font-size: 13.5px;
  height: 31px;
  margin-bottom: 0;
  padding-left: $padding5px;
  padding-right: $padding5px;
  vertical-align: middle;

  &.invalid-input {
    background-color: #a00;
    border-color: #000;
    border-right-width: 0;
    color: #fff;
  }

  &.extra-padding {
    padding-left: $padding5px + 2px;
    padding-right: $padding5px + 3px;
  }
}

.form-control.date-text {
  border-radius: 0 0.25rem 0.25rem 0;
  font-size: 13.5px;
  height: 31px;
  margin-right: 5px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: center;
  width: 92px;

  &.invalid-input {
    background-color: #a00;
    border-color: #000;
    color: #fff;
  }
}

.btn-datepicker {
  background-color: #597eaa;
  border-color: #597eaa;
  border-radius: 0;
  height: 31px;
  padding-top: 1px;
}

.btn-intervals {
  border-color: #2d2d31;
  color: #2d2d31;
  font-size: 13.5px;
  height: 31px;
  padding-right: 15px;
  padding-top: 2px;
}

.dropdown-toggle::after {
  display: none;
}

.filter-bottom-gap {
  margin-bottom: 5px;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

@media only screen and (max-width: 1000px) {
  .custom-dropdown {
    max-width: 281px;
    width: 100%;
  }

  .custom-dropdown-group {
    width: 100%;
  }

  .margin-middle,
  .btn.margin-middle {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1012px) {
  .form-control.date-text {
    width: 85px;
  }
}

@media only screen and (max-width: 575px) {
  .label-date {
    line-height: 2;
  }
}
