.row.border-right-custom
  .col-3.col-sm-3.col-md-3.col-lg-10.offset-lg-1.spacer-bottom.no-side-padding
    div.btn-custom.sub-nav.col(
      [routerLink]="['../BTC-USD']",
      [ngClass]="{'active': pathState === 'BTC-USD', 'disabled': isBusy}",
      style="background-image: url(assets/images/btn-chart-a.png);") BTC-USD
  .col-3.col-sm-3.col-md-3.col-lg-10.offset-lg-1.spacer-bottom.no-side-padding
    div.btn-custom.sub-nav.col(
      [routerLink]="['../LTC-USD']",
      [ngClass]="{'active': pathState === 'LTC-USD', 'disabled': isBusy}",
      style="background-image: url(assets/images/btn-chart-b.png);") LTC-USD
  .col-3.col-sm-3.col-md-3.col-lg-10.offset-lg-1.spacer-bottom.no-side-padding
    div.btn-custom.sub-nav.col(
      [routerLink]="['../ETH-USD']",
      [ngClass]="{'active': pathState === 'ETH-USD', 'disabled': isBusy}",
      style="background-image: url(assets/images/btn-chart-c.png);") ETH-USD
  .col-3.col-sm-3.col-md-3.col-lg-10.offset-lg-1.no-side-padding
    div.btn-custom.sub-nav.col(
      [routerLink]="['../ALL']",
      [ngClass]="{'active': pathState === 'ALL', 'disabled': isBusy}",
      style="background-image: url(assets/images/btn-chart-d.png);") ALL
