.spacer-bottom {
  margin-bottom: 20px;
}

.border-right-custom {
  border-right: 3px solid #294f6e;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-right-side-padding {
  padding-right: 0;
}

.sub-nav {
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 98px;
  color: #000;
  height: 118px;
  margin-left: auto;
  margin-right: auto;
  width: 118px;

  &.active {
    background-color: #597eaa;
    border: 3px solid #ffc000;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #ffc000;
  }

  &:hover {
    background-color: #597eaa;
    color: #fff;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1048px) {
  .border-right-custom {
    border-right: 3px solid #294f6e;
  }

  .sub-nav {
    background-size: 98px;
    height: 113px;
    width: 113px;

    &.active {
      border-width: 2px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .border-right-custom {
    border-right: 0;
  }
}

@media only screen and (max-width: 815px) {
  .sub-nav {
    background-size: 88px;
    height: 103px;
    width: 103px;
  }
}

@media only screen and (max-width: 520px) {
  .sub-nav {
    background-size: 68px;
    font-size: 13px;
    height: 80px;
    white-space: nowrap;
    width: 80px;

    &.active {
      border-width: 2px;
    }
  }
}

// @media only screen and (max-width: 400px) {
//   .sub-nav {
//     background-size: 63px;
//     font-size: 11px;
//     height: 75px;
//     width: 100%;

//     &.active {
//       border-width: 1px;
//     }
//   }
// }
