.row(style="max-width: 100%; margin-left: 0; margin-right: 0;")
  .col-12.col-sm-12.col-md-12.col-lg-2
    app-side-panel([pathState]="pathState")
  .col-12.col-sm-12.col-md-12.col-lg-9(style="height: 100%;")
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12
        app-filter-controls
      .col-12.col-sm-12.col-md-12.col-lg-12
        div(
          [chart]="chart",
          *ngIf="!isBusy")
        div.text-center(*ngIf="isBusy")
          img(
            height=200,
            src="assets/images/loading.gif",
            style="margin-top: 25px;"
            width=200)
