.row(style="max-width: 100%; margin-left: 0; margin-right: 0;")
  .col-12.col-sm-12.col-md-12.col-lg-2
    app-side-panel([pathState]="pathState")
  .col-12.col-sm-12.col-md-12.col-lg-9(style="height: 100%;")
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12
        app-filter-controls
      .col-12.col-sm-12.col-md-12.col-lg-12
        .table-responsive-xl.table-view
          table.table.table-dark.table-striped.table-hover(
            *ngIf="table.length && tableReady")
            tbody
              tr
                th id
                th Date
                th Product
                th Buy/Sell
                th Amount
                th Balance
                th Type
              tr(*ngFor="let transaction of table")
                td {{ transaction.id }}
                td {{ transaction.date }}
                td {{ transaction.product }}
                td {{ transaction.buysell }}
                td {{ transaction.amount | number: '.8'}}
                td {{ transaction.balance | number: '.8' }}
                td {{ transaction.type }}
          table.table.table-inverse(*ngIf="!table.length && tableReady")
            tr
              td
                p There is no data matching your criteria
          table.table.table-inverse(*ngIf="!tableReady")
            tr
              td
                p Building the table of the bot's trading history
