.table {
  margin-bottom: 0;
}

.table th,
.table td {
  text-align: center;
  white-space: nowrap;
}

.table-view {
  background-color: rgb(44, 62, 80);
  display: block;
  height: 406px;
  max-height: 406px;
  overflow: auto;
}

.table-dark.table-striped tbody {
  background-color: rgb(44, 62, 80);
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(44, 62, 80, 0.25);
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(212, 155, 4, 0.25);
}

.table-dark.table-striped tbody tr:first-child {
  background-color: rgb(32, 32, 32);
}

.paginate-box {
  background-color: #353a40;
  color: #ffc000;
  height: 50px;
}

.paginate-box .btn {
  padding-left: 7px;
  padding-right: 10px;
}

.btn-no-buffer-right {
  margin-right: 0;
  padding-right: 0;
}

.fa-angle-left,
.fa-angle-right {
  color: #ffc000;
  position: relative;
  top: -2px;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.page-setter-wrapper {
  display: inline-block;
}

.page-setter-wrapper label {
  border: 1px solid #ffc000;
  border-bottom-left-radius: 0.25rem;
  border-right: 0;
  border-top-left-radius: 0.25rem;
  box-sizing: border-box;
  height: 40px;
  left: 5px;
  line-height: 34px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: 5px;

  &.middle-label {
    border-bottom-left-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top-left-radius: 0;
    left: -5px;
  }
}

.page-setter-wrapper .btn.btn-outline-primary {
  border-color: #ffc000;
  padding-left: 10px;
  padding-right: 10px;
  width: 30px;

  &.btn-left {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 40px;
    max-height: 40px;
    opacity: 1 !important;
    position: relative;
    top: 5px;

    &.active {
      background-color: #ffc000;
      color: rgb(44, 62, 80);

      & .fa-angle-left {
        color: rgb(44, 62, 80);
      }
    }

    &:hover {
      background-color: #ffc000;
      color: rgb(44, 62, 80);

      & .fa-angle-left {
        color: rgb(44, 62, 80);
      }
    }

    &:disabled {
      background-color: transparent;
      color: #ffc000;

      & .fa-angle-left {
        color: #ffc000;
      }
    }
  }

  &.btn-right {
    border-bottom-left-radius: 0;
    border-left: 0;
    border-top-left-radius: 0;
    height: 40px;
    left: -10px;
    max-height: 40px;
    opacity: 1 !important;
    position: relative;
    top: 5px;

    &.active {
      background-color: #ffc000;
      color: rgb(44, 62, 80);

      & .fa-angle-right {
        color: rgb(44, 62, 80);
      }
    }

    &:hover {
      background-color: #ffc000;
      color: rgb(44, 62, 80);

      & .fa-angle-right {
        color: rgb(44, 62, 80);
      }
    }

    &:disabled {
      background-color: transparent;
      color: #ffc000;

      & .fa-angle-right {
        color: #ffc000;
      }
    }
  }
}

.row-setter-wrapper {
  display: inline-block;
  margin-left: 20px;
}

.row-setter-wrapper label {
  border: 1px solid #ffc000;
  border-bottom-left-radius: 0.25rem;
  border-right: 0;
  border-top-left-radius: 0.25rem;
  box-sizing: border-box;
  height: 40px;
  left: 5px;
  line-height: 34px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: 5px;
}

.row-setter-wrapper .btn {
  padding-left: auto;
  padding-right: auto;
}

.row-setter {
  border-color: #ffc000;
  color: #ffc000;
  margin-bottom: 3px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: center;
  top: 6px;

  &.active {
    background-color: #ffc000;
    color: rgb(44, 62, 80);
  }

  &:hover {
    background-color: #ffc000;
    color: rgb(44, 62, 80);
  }
}

.dropdown-menu {
  background-color: #353a40;
  left: -63px!important;
  top: 40px!important;
}

.dropdown-item {
  &:hover {
    background-color: rgb(44, 62, 80);
    color: #fff;
  }
}

.show > .btn-outline-primary.dropdown-toggle {
  background-color: #ffc000;
  border-color: #ffc000;
  color: rgb(44, 62, 80);

  &:focus {
    box-shadow: 0 0 0 0;
    outline: none;
  }
}

.btn-outline-primary:disabled {
  background-color: transparent;
  color: #ffc000;
  opacity: 1;

  & span {
    opacity: 0.4;
  }
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0;
  outline: none;
}

.dropdown-toggle {
  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;

  &::after {
    display: none;
  }
}
