.row(style="max-width: 100%; margin-left: 0; margin-right: 0;")
  .col-12.col-sm-12.col-md-12.col-lg-2
    app-side-panel([pathState]="pathState")
  .col-12.col-sm-12.col-md-12.col-lg-9(style="height: 100%;")
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12
        app-filter-controls
      .col-12.col-sm-12.col-md-12.col-lg-12
        .table-responsive-xl.table-view
          table.table.table-dark.table-striped.table-hover(
            *ngIf="table.length && tableReady && !isBusy")
            tbody
              tr
                th(style="width: 140px;") id
                th(style="width: 300px;") Date
                th(style="width: 130px;") Product
                th(style="width: 130px;") Buy/Sell
                th(style="width: 180px;") Amount
                th(style="width: 180px;") Balance
                th Type
              tr(*ngFor="let transaction of table")
                td {{ transaction.id }}
                td {{ transaction.date }}
                td {{ transaction.product }}
                td {{ transaction.buysell }}
                td {{ transaction.amount | number: '.8'}}
                td {{ transaction.balance | number: '.8' }}
                td {{ transaction.type }}
          table.table.table-dark.table-striped(*ngIf="!table.length && tableReady && !isBusy")
            tbody
              tr
                th(style="width: 140px;") id
                th(style="width: 300px;") Date
                th(style="width: 130px;") Product
                th(style="width: 130px;") Buy/Sell
                th(style="width: 180px;") Amount
                th(style="width: 180px;") Balance
                th Type
          table.table.table-inverse(*ngIf="!table.length && tableReady && !isBusy")
            tbody
              tr
                td
                  p(style="color: #fff; font-size: 24px;") There is no data matching your criteria
          table.table.table-dark.table-striped(*ngIf="!tableReady || isBusy")
            tbody
              tr
                th(style="width: 140px;") id
                th(style="width: 300px;") Date
                th(style="width: 130px;") Product
                th(style="width: 130px;") Buy/Sell
                th(style="width: 180px;") Amount
                th(style="width: 180px;") Balance
                th Type
          table.table.table-inverse(*ngIf="!tableReady || isBusy")
            tbody
              tr
                td
                  img(
                    height=200,
                    src="assets/images/loading2.gif",
                    style="margin-top: 25px;"
                    width=200)
        .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.paginate-box
          .page-setter-wrapper
            label
              span([ngClass]="{'disabled': isBusy}") Page:
            button.btn.btn-outline-primary.btn-left(
              (click)="changedPageNumber('prev')",
              [disabled]="isNoPrevPage || isBusy")
              span.fa.fa-angle-left.angle-btn-left(
              [ngClass]="{'disabled': isNoPrevPage || isBusy}")
            label.middle-label
              span([ngClass]="{'disabled': isBusy}") {{ page }}
            button.btn.btn-outline-primary.btn-right(
              (click)="changedPageNumber('next')",
              [disabled]="isNoNextPage || isBusy")
              span.fa.fa-angle-right.angle-btn-right(
              [ngClass]="{'disabled': isNoNextPage || isBusy}")
          .row-setter-wrapper
            label
              span([ngClass]="{'disabled': isBusy}") Rows:
            .btn-group(
              ngbDropdown,
              role="group",
              aria-label="Button group with nested dropdown")
              button.btn.btn-outline-primary.row-setter(
                ngbDropdownToggle,
                [disabled]="isBusy")
                span {{ rowsPerPage }}
              .dropdown-menu(ngbDropdownMenu)
                button.dropdown-item.row-setter(
                  *ngFor="let rowAmount of rowAmounts",
                  (click)="changedRowsPerPage(rowAmount)",
                  [disabled]="isBusy") {{ rowAmount }}
