.table {
  margin-bottom: 0;
}

.table th,
.table td {
  text-align: center;
  white-space: nowrap;
}

.table-view {
  background-color: rgb(44, 62, 80);
  display: block;
  height: 406px;
  max-height: 406px;
  overflow: auto;
}

.table-dark.table-striped tbody {
  background-color: rgb(44, 62, 80);
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(44, 62, 80, 0.25);
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(212, 155, 4, 0.25);
}

.table-dark.table-striped tbody tr:first-child {
  background-color: rgb(32, 32, 32);
}

.paginate-box {
  background-color: #353a40;
  color: #ffc000;
  height: 50px;
}

.paginate-box .btn {
  padding-left: 7px;
  padding-right: 10px;
}

.btn-no-buffer-right {
  margin-right: 0;
  padding-right: 0;
}

.fa-angle-left,
.fa-angle-right {
  color: #ffc000;

  &:hover {
    color: #fff;
  }
}

.angle-btn-left,
.angle-btn-right {
  padding-bottom: 10px;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.page-setter-wrapper {
  display: inline-block;
}

.row-setter-wrapper {
  display: inline-block;
  margin-left: 20px;
}

.row-setter-wrapper span {
  margin-right: 5px;
}

.row-setter-wrapper .btn {
  padding-left: 0;
  padding-right: 7px;
}

.row-setter {
  color: #ffc000;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;

  &.active {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}
