.row
  .col-12.col-sm-12.col-md-12.col-lg-2
    app-side-panel([pathState]="pathState")
  .col-12.col-sm-12.col-md-12.col-lg-9(style="height: 100%;")
    .row
      .col-12.col-sm-12.col-md-12.col-lg-12
        app-filter-controls
      .col-12.col-sm-12.col-md-12.col-lg-12
        table.table.table-inverse
          tr
            th Date
            th Type
            th Amount
            th Balance
          tr
            td Now
            td Match
            td 2,000,000
            td 10,123,123
